<%- include('partials/nav.ejs') %>


    <main>
        <h2>¡Bienvenido!</h2>
        <p>Ingrese sus credenciales:</p>
        <input type="text" id="nombreCliente" placeholder="Email" />
        <input type="text" id="nombreCliente" placeholder="Contraseña" />
        <a href="/lista-productos" id="btnContinuar">Continuar</a>

    </main>

<%- include('partials/footer.ejs') %>