<%- include("partials/nav.ejs") %>
<main class="container py-4">

  <form
    class="d-flex flex-column text-center align-items-center h4 gap-3"
    action="/api/products"
    method="POST"
    enctype="multipart/form-data"
  >
    <h3 class="text-center mb-4">Crear nuevo producto</h3>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required />

    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" required />

    <label for="precio">Precio:</label>
    <input type="text" id="precio" name="precio" required />
    <div class="d-flex flex-column justify-content-center">
    <label for="imagen">Imagen:</label>
    <input class=" d-flex w-100 justify-content-center" type="file" id="imagen" name="imagen" accept="image/*" required />
    </div>
    <label for="stock">Stock:</label>
    <input type="text" id="stock" name="stock" required />

    <button type="submit" class="btn btn-success mt-3">
      Registrar producto
    </button>
  </form>
</main>
<%- include("partials/footer.ejs") %>
