body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

/* NAVBAR */
.header_index {
    background-color: rgb(248, 200, 41);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    flex-wrap: wrap;
}
nav{
    background-color: rgb(212, 172, 39);
    border-top: 2px solid black;
    border-radius: 5px;
    height: 40px;
}
#elements_nav{
    color: green;
    
}
a.enlace {
    background-color: rgb(212, 172, 39);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    }

    a.enlace:hover {
      background-color: #2c80b4; /* un tono más oscuro */
    }
.logo {
    width: 90px;    
}
/* TICKER */
.ticket-section{
    background-color: rgb(248, 200, 41);
}
#ticket{
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    padding: 5px;
    border-radius: 3%;
}



.productos{
    height: 400px;
}
/* FOOTER DE TICKET */
footer{
    border-top: 1px solid ;
    margin-top: 10px;
}
#Icons{
    height: 50px;
}
.iconos{
    height: 30px;
    width: 100px;
}
/* BUTTONS */
.buttons{
    padding: 38px;
    
    background-color: rgb(26, 25, 25);
}
button{
    margin: 7px;
}